*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: CurrentColor;
  scroll-behavior: smooth;
}
body{
  background: hsl(0, 0%, 96%);
}
input, button{
  background: yellow;
  color: black;
  font-size: large;
  /* flex: 0 1 auto; */
  padding: .5em;
  border: 0;
  outline: 0;
  border-radius: inherit;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#head, #content-preview{
  position: relative;
  background: hsl(210, 100%, 12%);
  color: hsl(60, 33%, 97%);
  width: 100%;
  font-size: 1em;
}
.header-child{
  flex: 1 1 min(500px, 100%);
  padding: 1em;
  max-height: 120px;
}
.header-child img{
  height: 100px;
  width: 100px;
}
#head .header-child ul{
  justify-content: space-evenly;
  flex-wrap: nowrap;
  position: relative;
  max-height: 55px;
  z-index: 1;
}
header ul li:not(#regional-info), #languages{
  border-right: .1em solid hsl(60, 33%, 97%);
   min-width: 18%; 
  padding: 0 .8em;
  text-wrap: nowrap;
  text-align: center;
  margin-right: .3em;
  }
  #heroes-title{
    position: absolute;
    left: 0;
    color: hsl(60, 33%, 90%);
    bottom: -40%;
    z-index: 1;
    font-size: 3em;
  }
#top-stories{
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  background: green;
  height: 25rem;
  color: hsl(60, 33%, 97%);
  overflow:  auto hidden;
  scroll-snap-type: x mandatory;
}
.img-box{
  scroll-snap-align: center;
  scroll-behavior: smooth;
  position: relative;
  width: inherit;
  height: 25rem;
  animation: ;
}
.img-box img{
  height: 25rem;
  width: 100vw;
 
}
.headline{
  position: absolute;
  font-size: 1.5em;
  bottom: 5%;
  left: 0;
}
#content-preview{
  flex-wrap: nowrap;
}
.preview{
  border: 3px solid red;
}
#site-nav.preview{
  flex: 0 1 50%;
  min-width: 20%;
}
#search.preview{
  /* width: max-content; */
  max-width: 50%;
  flex: 0 0 auto;
  max-width: max-content;
}